body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 10px;
}

.Message {
  padding: 10px;
  color: #fff;
  background-color: #58b666;
  border-radius: 10px;
  margin-bottom: 10px;
}

.MessagePanel > label {
  display: block;
  margin: 5px 0;
}

.MessageAuthor {
  font-size: 10px;
  color: #eee;
}

.MessageText {
  font-size: 14px;
  margin: 0;
}
